.ca-text-orange-50 {
    color: rgb(255, 140, 0) !important;
    size: 10px;
  }
  
.ca-button {
    width: 130px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #0000009c;
    cursor: pointer;
    position: relative;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
    z-index: 0;
    border-radius: 10px;
}

.ca-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.ca-button:hover {
    transform: rotate(2deg);
}

.ca-button:active {
    color: #000
}

.ca-button:active:after {
    background: transparent;
}

.ca-button:hover:before {
    opacity: 1;
}

.ca-button:after {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.ca-topics {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 89, 0, 0.9), rgb(13, 0, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

  .ca-about-section {
  padding-top: 1rem;
  background: #0C0C17;
}

.ca-bg-dark {
    background-color: #ffffff !important;
    background: linear-gradient(#ff7700cb,rgb(0, 0, 0) ) !important;
}
  
  a.ca-bg-dark:hover, a.ca-bg-dark:focus,
  button.ca-bg-dark:hover,
  button.ca-bg-dark:focus {
    background-color: #ffffff !important;
    background: #0C0C17 !important;
}